<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="APRIL FOOLS, THE CALTECH WAY"

>
  <image imageURL="images/logo Archives FB.jpg"
	thumbURL="thumbs/logo Archives FB.jpg"
	linkURL="images/logo Archives FB.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\logo Archives FB.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Prank_1 outdoor room.jpg"
	thumbURL="thumbs/Prank_1 outdoor room.jpg"
	linkURL="images/Prank_1 outdoor room.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\Prank_1 outdoor room.jpg">
    <title><![CDATA[Dorm room pranks]]></title>
    <caption><![CDATA[A student finds his furniture hanging from the tree in the courtyard of a student house on Caltech campus (April 1957; photo credit David Grace)]]></caption>
  </image>
  <image imageURL="images/prank_17a upside down.jpg"
	thumbURL="thumbs/prank_17a upside down.jpg"
	linkURL="images/prank_17a upside down.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_17a upside down.jpg">
    <title><![CDATA[Dorm room pranks]]></title>
    <caption><![CDATA[The laws of physics seem to have been turned upside down in Fleming house (April 1992; photo credit Chris Ho)]]></caption>
  </image>
  <image imageURL="images/prank_17b upside down.jpg"
	thumbURL="thumbs/prank_17b upside down.jpg"
	linkURL="images/prank_17b upside down.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_17b upside down.jpg">
    <title><![CDATA[Dorm room pranks]]></title>
    <caption><![CDATA[Even the pantry has been re-arranged perfectly upside down (April 1992; photo credit Chris Ho)]]></caption>
  </image>
  <image imageURL="images/prank_21 disappearing room.jpg"
	thumbURL="thumbs/prank_21 disappearing room.jpg"
	linkURL="images/prank_21 disappearing room.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_21 disappearing room.jpg">
    <title><![CDATA[Dorm room pranks]]></title>
    <caption><![CDATA[One of many "disappearing room" pranks in progress (1983; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Prank_2 ties.jpg"
	thumbURL="thumbs/Prank_2 ties.jpg"
	linkURL="images/Prank_2 ties.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\Prank_2 ties.jpg">
    <title><![CDATA[Hanging there]]></title>
    <caption><![CDATA[Spring foliage of a different kind (1950; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_3 commencement fish.jpg"
	thumbURL="thumbs/prank_3 commencement fish.jpg"
	linkURL="images/prank_3 commencement fish.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_3 commencement fish.jpg">
    <title><![CDATA[Hanging there]]></title>
    <caption><![CDATA[On commencement day, a tribute to all those who "hung in there". The engineering feat involved a giant crane and aluminum foil (June 10, 1994; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_12 clothsline.jpg"
	thumbURL="thumbs/prank_12 clothsline.jpg"
	linkURL="images/prank_12 clothsline.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_12 clothsline.jpg">
    <title><![CDATA[Hanging there]]></title>
    <caption><![CDATA[A very daring clothesline salute connecting the top of Millikan Library to the flagpole across Millikan Pond. (March 3, 1981; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_13 chairs olivewalk.jpg"
	thumbURL="thumbs/prank_13 chairs olivewalk.jpg"
	linkURL="images/prank_13 chairs olivewalk.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_13 chairs olivewalk.jpg">
    <title><![CDATA[Hanging there]]></title>
    <caption><![CDATA[In October 2001, Page House students strung the Fleming House dining chairs about the Olive walk. Tom Mannion, then in charge of student housing, recalls, "Unfortunately they did not leave a note so I could not get questions about rope strength answered and had to ask an experienced climber from Blacker house to rig a system to lower the chairs before Athenaeum guests (including Stephen Hawking) went down the Olive walk." (October 2001; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Prank_16b jet.jpg"
	thumbURL="thumbs/Prank_16b jet.jpg"
	linkURL="images/Prank_16b jet.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\Prank_16b jet.jpg">
    <title><![CDATA[Flight of the jet]]></title>
    <caption><![CDATA[A wingless F-84 Thunderjet, brought in for recruiting, sat unguarded at night, on a trailer in front of the student houses. The students of Ricketts House could not resist, and towed it (with no little trouble) to the house of the resident ROTC colonel (1954; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Prank_15a jet.jpg"
	thumbURL="thumbs/Prank_15a jet.jpg"
	linkURL="images/Prank_15a jet.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\Prank_15a jet.jpg">
    <title><![CDATA[Flight of the jet]]></title>
    <caption><![CDATA[The next morning, the colonel's small children awakened him to thank him for bringing them an airplane (1954; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Prank_16c jet.jpg"
	thumbURL="thumbs/Prank_16c jet.jpg"
	linkURL="images/Prank_16c jet.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\Prank_16c jet.jpg">
    <title><![CDATA[Flight of the jet]]></title>
    <caption><![CDATA[The FBI was brought in by an overzealous airman, and chastised the students amidst general hilarity. The students later celebrated with another jet, carrying the same warning as the F-84: "Enlist now! Flight training. Warning: U.S. Government property. Protected by FBI" (1954; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_4 PCC.jpg"
	thumbURL="thumbs/prank_4 PCC.jpg"
	linkURL="images/prank_4 PCC.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_4 PCC.jpg">
    <title><![CDATA[Memorable signs]]></title>
    <caption><![CDATA[Ruddock House students make fun of their Fleming House comrades by requesting tutors for them at nearby Pasadena City College. (1991; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_8 holliwood sign.jpg"
	thumbURL="thumbs/prank_8 holliwood sign.jpg"
	linkURL="images/prank_8 holliwood sign.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_8 holliwood sign.jpg">
    <title><![CDATA[Memorable signs]]></title>
    <caption><![CDATA[On May 18, 1987, Caltech students celebrated the centennial of the founding of Hollywood by "updating" the city's most famous landmark. (1987; photo credit Bob Paz)]]></caption>
  </image>
  <image imageURL="images/Prank_8b Holliwood sign.jpg"
	thumbURL="thumbs/Prank_8b Holliwood sign.jpg"
	linkURL="images/Prank_8b Holliwood sign.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\Prank_8b Holliwood sign.jpg">
    <title><![CDATA[Memorable signs]]></title>
    <caption><![CDATA[Working from midnight to dawn, the students scaled the five story letters and draped them with sheets of black and white plastic. (1987; photo credit Bob Paz)]]></caption>
  </image>
  <image imageURL="images/prank_7 Hollywood Inst.jpg"
	thumbURL="thumbs/prank_7 Hollywood Inst.jpg"
	linkURL="images/prank_7 Hollywood Inst.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_7 Hollywood Inst.jpg">
    <title><![CDATA[Memorable signs]]></title>
    <caption><![CDATA[The following day the students performed the inverse transformation on the Caltech sign at California Bldv. and Hill Ave., which were also changed to Hollywood and Vine. (May 19, 1987; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_5 whale.jpg"
	thumbURL="thumbs/prank_5 whale.jpg"
	linkURL="images/prank_5 whale.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_5 whale.jpg">
    <title><![CDATA[Pranks in the ponds]]></title>
    <caption><![CDATA[Petunia, a wooden whale with a spout and moving eyes, was the creation of Blacker House. About 35 students worked on the whale during the term and assembled it overnight. (December 1990; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_18 popcorn.jpg"
	thumbURL="thumbs/prank_18 popcorn.jpg"
	linkURL="images/prank_18 popcorn.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_18 popcorn.jpg">
    <title><![CDATA[Pranks in the ponds]]></title>
    <caption><![CDATA[According to the Big T yearbook, 25,000 pounds of corn were popped in Caltech's Gene Pool. The reported figure may have been aspirational. (1996; photo credit unknown))]]></caption>
  </image>
  <image imageURL="images/prank_19 c millikan pond room.jpg"
	thumbURL="thumbs/prank_19 c millikan pond room.jpg"
	linkURL="images/prank_19 c millikan pond room.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_19 c millikan pond room.jpg">
    <title><![CDATA[Pranks in the ponds]]></title>
    <caption><![CDATA[Tired of cramped dorms, Fleming House students took the matter in their hands and moved their living quarters -including bed, hammock, connected TV and working fan - to a new location (October 20, 1999; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_19 millikan pond room.jpg"
	thumbURL="thumbs/prank_19 millikan pond room.jpg"
	linkURL="images/prank_19 millikan pond room.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_19 millikan pond room.jpg">
    <title><![CDATA[Pranks in the ponds]]></title>
    <caption><![CDATA[Impressed by the fine decor of the room, President Baltimore even paid the students a visit. (October 20, 1999; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_20 car in Throop.jpg"
	thumbURL="thumbs/prank_20 car in Throop.jpg"
	linkURL="images/prank_20 car in Throop.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_20 car in Throop.jpg">
    <title><![CDATA[Park and prank]]></title>
    <caption><![CDATA[Techers demonstrated a solution to campus parking problems. Students showed how the first floor of Throop could easily accomodate the overflow from nearby parking lots. (April 1962; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_9b car Millikan pond.jpg"
	thumbURL="thumbs/prank_9b car Millikan pond.jpg"
	linkURL="images/prank_9b car Millikan pond.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_9b car Millikan pond.jpg">
    <title><![CDATA[Park and prank]]></title>
    <caption><![CDATA[(February 26, 1971; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Prank_10 mickey clock.jpg"
	thumbURL="thumbs/Prank_10 mickey clock.jpg"
	linkURL="images/Prank_10 mickey clock.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\Prank_10 mickey clock.jpg">
    <title><![CDATA[Clock pranks]]></title>
    <caption><![CDATA[A 3 1/2-foot Mickey Mouse, with moving arms, adorns the face of the clock on the 30-foot tower atop Throop Hall, Caltech's former administration building. (December 1965; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/prank_6 snoopy clock.jpg"
	thumbURL="thumbs/prank_6 snoopy clock.jpg"
	linkURL="images/prank_6 snoopy clock.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_6 snoopy clock.jpg">
    <title><![CDATA[Clock pranks]]></title>
    <caption><![CDATA[Almost thirty years later, other famous cartoon characters marked the time on Kellogg Radiation Laboratory. (1992; photo credit unknown)to credit unknown)]]></caption>
  </image>
  <image imageURL="images/Prank_11 cake.jpg"
	thumbURL="thumbs/Prank_11 cake.jpg"
	linkURL="images/Prank_11 cake.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\Prank_11 cake.jpg">
    <title><![CDATA[Apparitions around campus]]></title>
    <caption><![CDATA[In its January 24 issue, the California Tech notified readers of the arrival of a new RF (antenna) atop Beckman Auditorium, decorating what is familiarly known as the Caltech Wedding Cake. (January 1975; photo credit Chris Wheeler)]]></caption>
  </image>
  <image imageURL="images/prank_14b Hale.jpg"
	thumbURL="thumbs/prank_14b Hale.jpg"
	linkURL="images/prank_14b Hale.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Pranks\Small\prank_14b Hale.jpg">
    <title><![CDATA[Apparitions around campus]]></title>
    <caption><![CDATA[Caltech founder George Ellery Hale, doing his best Mr Spock impression. (July 7, 1987; photo credit unknown)]]></caption>
  </image>
</juiceboxgallery>
